<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>

    <header> 
        <li>
            <ul> <a href = "/"> Shop </a></ul>
            <ul> <a href = "/add-product"> Add Product </a></ul>
        </li>
    </header>

    <main>
        <form action = "/add-product" method = "POST" >
            
            Title : <input type = "text" name = "Title"> 
            <button type = "suibmit"> Add Product </button>
        </form>

    </main>
    
</body>
</html>